body {
  background-image: url('./images/background.png');
  color: white;
}

header {
  text-align: center;
}

.App {
  text-align: center;
}

.title {
  text-align: center;
}

.planets {
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.planets img {
  transition: 0.2s ease-in;
  width: 150px;
}

.planets img:hover {
  transition: 0.2s ease-in;
  width: 170px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missions div {
  backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 10px;
  min-width: 20%;
  padding: 10px;
}

@media screen and ( max-width : 640px ) {

  .planets {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .missions div {
    backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: 10px;
    min-width: 70%;
    padding: 10px;
  }
}
